<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=true" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,800' %>
  <%= csrf_meta_tags %>

	<p>
		<% if logged_in? %>
			Current user is: <%= current_user.email %>
			<%= link_to "Log Out", log_out_path, method: :destroy %>
		<% else %>
			<%= link_to "Sign Up", sign_up_path %> |
			<%= link_to "Log In", new_session_path %>
		<% end %>
	</p>

	<% if @location.nil? %>

		<% yield %>

	<% elsif @location.id == 1 %>

		<title>Chapter 1: The Apartment</title>
		<img src="https://s-media-cache-ak0.pinimg.com/736x/78/25/3c/78253cd09f6666d93fa3b680bea4a1a2.jpg" alt="apartment">
		<h2>Chapter 1: The Apartment</h2>
	<% elsif @location.id == 2 %>
		<title>Chapter 2: The Street</title>
		<img src="https://upload.wikimedia.org/wikipedia/commons/a/af/Destruction_in_a_Berlin_street.jpg" alt="street">
		<h2>Chapter 2: The Street</h2>
	<% elsif @location.id == 3 %>
		<title>Chapter 3: The Edge of Town</title>
		<img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Monte_Cassino.jpg" alt="forest">
		<h2>Chapter 3: Edge of Town</h2>
	<% elsif @location.id == 4 %>
		<title>Chapter 4: The Bunker</title>
		<img src="http://image.naldzgraphics.net/2012/10/26-black-white-dead-tree-forest-scary.jpg" alt="bunker">
		<h2>Chapter 4: The Bunker</h2>
	
	<% end %>

</head>
<body>

	<section id="home" class="home-video video-fall full-screen-dem" data-stellar-background-ratio="0.5" style="position: relative; background-position: 50% 0%;"><span id="controlBar_video" class="mb_YTVPBar inlinePlayer" style="white-space: nowrap; position: absolute; z-index: 1000;"><div class="buttonBar"><span class="mb_YTVPPlaypause ytpicon">P</span><span class="mb_YTVPMuteUnmute ytpicon">A</span><span class="mb_YTVPTime">00 : 35 / 01 : 01</span><span class="mb_YTVPUrl ytpicon" title="view on YouTube">Y</span><span class="mb_OnlyYT ytpicon">O</span></div><div class="mb_YTVPProgress" style="position: absolute;"><div class="mb_YTVPLoaded" style="position: absolute; left: 0px; width: 100%;"></div><div class="mb_YTVTime" style="position: absolute; left: 0px; width: 1101.64px;"></div></div></span><div class="mbYTP_wrapper" id="wrapper_mbYTP_video" style="position: absolute; z-index: 0; min-width: 100%; min-height: 100%; left: 0px; top: 0px; overflow: hidden; opacity: 1;"><iframe id="mbYTP_video" class="playerBox" style="position: absolute; z-index: 0; width: 2480.8px; height: 1180px; top: 0px; left: 0px; overflow: hidden; opacity: 1; margin-top: -109px; margin-left: -280.4px;" frameborder="0" allowfullscreen="1" title="YouTube video player" width="640" height="360" src="https://www.youtube.com/embed/R55e-uHQna0?autoplay=0&amp;modestbranding=1&amp;controls=0&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1&amp;version=3&amp;playerapiid=mbYTP_video&amp;origin=http%3A%2F%2Fbootstraplovers.com&amp;allowfullscreen=true&amp;wmode=transparent&amp;iv_load_policy=3&amp;html5=1&amp;widget_referrer=http%3A%2F%2Fbootstraplovers.com%2Ftemplates%2Fcodeon-v3.2%2F"></iframe><div class="YTPOverlay" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;"></div></div>
            <div class="parallax-overlay"></div> 
              <a id="video" class="player mb_YTVPlayer isMuted" data-property="{videoURL:'http://youtu.be/R55e-uHQna0',containment:'#home', showControls:true, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}" style="display: none; position: relative; background-image: none;"></a>

            <div class="home-content text-center">
                <div class="container">
                    <h1 class=" slide-logo">Codeon</h1>
                    <div class="main-flex-slider">
                        <ul class="slides">
                            <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                                <h1>LET'S WORK TOGETHER</h1>

                            </li>
                            <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
                                <h1>web design agency</h1>

                            </li>
                            <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                                <h1>Clean Modern design</h1>

                            </li>
                        </ul>
                    </div> 
                    <h2 class="slide-btm-text">Codeon FOR DESIGN AGENCIES - BUSINESS AND CORPORATE</h2>
                    <div class="home-arrow-down text-center">
                        <p class="scrollto"><a href="#about" class="btn btn-lg btn-theme-color">let's Start </a></p>
                    </div>
                </div>
            </div>
        </section>


	<% if @location.nil? %>

	<% yield %>

	<% else %>

	<%= form_tag("/locations/#{@location.id}", method: "get") do %>
		<%= submit_tag "Story Text" %>
	<% end %>

	<%= form_tag("/locations/#{@location.id}/details", method: "get") do %>
		<%= submit_tag "Look Around" %>
	<% end %>


	<%= form_tag("/locations/#{@location.id}/pickup", method: "get") do %>
		<%= submit_tag "Pick up Item" %>
	<% end %>

	<%= form_tag("/locations/#{@location.id}/current_items", method: "get") do %>
		<% submit_tag "View Inventory" %>
	<% end %>

	<% unless @location.id == 1 %>

		<%= form_tag("/locations/#{@location.id - 1}", method: "get") do %>
			<%= submit_tag "Go to Previous Location" %>
		<% end %>

	<% end %>


	<%= form_tag("/locations/#{@location.id + 1}", method: "get") do %>
		<%= submit_tag "Go to Next Location" %>
	<% end %>

<% end %>




<%= yield %>

</body>
</html>
